sounddevice==0.4.5
numpy==1.26.4
faster-whisper==1.0.1
ctranslate2==4.6.0
huggingface-hub==0.13.4
torch>=2.0 ; platform_system=="Linux" or platform_system=="Darwin"
torch==2.3.0+cpu ; sys_platform=="win32" ; extra == "cpu"
soundfile==0.13.1